.App{
    display: grid;
    grid-template-columns: 400px auto auto;
    grid-template-rows: 80px auto 50px;
    grid-template-areas: "nav nav nav"
        "aside main main"
        "footer footer footer";
    height: 100vh;
    /* background-color: rgb(132, 128, 128); */
  }

  aside {
    grid-area: aside;
    border: 1px solid green;
    /* height: 300px; */
    text-align: center;
    /* background-color: rgb(86, 86, 88); */
  
  }
  
  main {
    grid-area: main;
    border: 1px solid blue;
    text-align: center;
  
  }
  
  .footer {
    grid-area: footer;
    border: 1px solid rgb(122, 21, 176);
    text-align: center;
  
  }